
/**********************************
         sccs de l'index admin
**********************************/

.indexAdmin{
	margin: 0 auto;
	max-width: 55em;

	.titleIndex{
		margin-top: 2em;
	}

	.actionsIndex{
		font-size: 1.5em;
	}
	.listIndex{
		
		padding: 1em;
		list-style-type: none;
		font-size: 1.2em;

	}
	
}

/**********************************
         sccs de l'event admin
**********************************/

.listAdmin{
	margin: 0 auto;
	margin-top: 2em;
	max-width: 30em;
}

/**********************************
         sccs de comment admin
**********************************/

.commentAdmin{
	margin: 0 auto;
	margin-top: 2em;
	max-width: 40em;
}

/**********************************
         sccs de users admin
**********************************/

.usersAdmin{
	margin: 0 auto;
	margin-top: 2em;
	max-width: 40em;
	min-height: 90vh;

		.list-users-admin{
			padding: 0.5em;
		}
}

/**********************************
         sccs de contact admin
**********************************/

.msg-admin{
	margin: 0 auto;
	margin-top: 2em;
	max-width: 50em;
	min-height: 90vh;	
}




