
/*******************************************
		FORMULAIRE DE CONTACT
*******************************************/

#contactSection{
	min-height: 90vh;
}

.my-form-contact{
	margin: 0 auto;
	width: 60em;
	vertical-align: top;
	padding: 2em;

		#crazystupid-line{
			
		}
}

/*******************************************
				TEAM
*******************************************/

#team-contact{
	margin: 0 auto;
	width: 90em;
	text-align:center;
}

