#form-crea{
	text-align: center;

	.form-create-event{
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 3px solid #2199a3;
	padding: 2em;
	margin: 2em;

		.validcreate-event{

			margin-left: 50em;
			margin-top: 8em;
		}
	}
}

