section#event-lists {
    div.event-list {
        display: inline-block;
        margin-right: .3em;
        padding: 1em;
        min-width: 12em;
        vertical-align: top;
        background-color: #d0d0d0;
    }
}
