div.event-wrapper {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;

    #event-particip,
    #event-main,
    #event-newsfeed {
        display: table-cell;
        height: 100%;
        word-break: break-all;
    }


    #event-newsfeed {
        position: absolute;
        display: none;
        right: 0;
        top: 0;
        padding: 2em;
        width: 80%;
        height: 100%;
        background-color: $lightGray;
        overflow: auto;
        z-index: 100;

        @media only screen and (min-width: 660px) {
    		width: 60%;
    	}

        @media only screen and (min-width: 860px) {
    		width: 40%;
    	}

        @media only screen and (min-width: 1000px) {
    		width: 20%;
    	}

        #newsfeed-hide-btn {
            position: absolute;
            top: 0;
            right: 0;
            padding: 1em;
            cursor: pointer;
        }
    }
}

/*************************************
        PARTICIP ASIDE
*************************************/
#event-particip {
    position: relative;
    padding: 2%;
    vertical-align: top;
    background-color: $lightGray;
    width: 20vw;

    .event-particip-content {
        // position: fixed;
    }

    ul.particip-friends-list {


        max-width: 10em;
        overflow: hidden;

        li {
            display: block;
            font-style: italic;
            list-style-type: none;

            .img-before-friend {
                position: relative;
                top: -.18em;
                width: 1em;
                vertical-align: middle;
            }
        }
    }

    .particip-title{
        margin: 1em 0;
        font-size: 1.1em;
        font-weight: bold;
    }

    .event-join-btn {
        display: inline-block;
        margin-left: 10%;
        margin-bottom: 3em;
        padding: .5em 1em;
        text-align: center;
        background-color: $lightGreen;
        border-radius: .4em;
        color: #fff;
        transition: all 500ms ease;

        &:hover,
        &:active {
            text-decoration: none;
            background-color: darken($lightGreen, 2);
        }

    }

    .event-invite-btn {
        display: inline-block;
        // color: #fdfdfd;
        margin-bottom: .5em;

    }

    .user-events {
        display: block;
        margin: 1em 0;
    }
}


section#event-main {


    #newsfeed-show-btn {
        position: absolute;
        top: 1em;
        right: 0;
        padding: .3em .5em;
        border: 0;
        border-top-left-radius: .2em;
        border-bottom-left-radius: .2em;
        background-color: $white;
        color: $green;
    }

    .event-data {
        position: relative;
        min-height: 35vh;
        background-position: 50% 30%;
        background-size: cover;
        z-index: 0;

        .event-bg-transparent {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(10,10,10,.4);
            z-index: 1;

        }
        .event-data-container {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 1em;
            color: $white;
            z-index: 2;

            .event-date,
            .event-price-container {
                padding: 1em;
                border: 2px solid #fff;
                border-radius: .4em;
                text-align: center;
            }

            .event-desc {
                max-width: 80%;
            }

            #event-price {
                font-size: 1.2em;
                font-weight: bolder;
            }
        }

    }

    #event-lists {
        position: relative;
        width: 80vw;
        height: 80vh;
        white-space: nowrap;
        padding: 1em;
        padding-right: 0; // to show all lists
        overflow-x: auto;
        overflow-y: hidden;
        // z-index: -2;

        input:focus,
        textarea:focus {
            color: black;
        }

        #add-list-form {
            margin-right: 3em;
            padding: 1em;
            background-color: $lightGray;

            input {
                padding: .4em;
                width: 20em;
                border-radius: .4em;
                border: 1px solid #f0f0f0;
            }
        }

        #add-list-btn {
            margin-right: 20em;
        }
    }
    .event-list {
        display: inline-block;
        margin-right: 1%;
        padding: 1em;
        width: 350px;
        max-height: 100%;
        vertical-align: top;
        background-color: $lightGray;
        border-radius: .4em;
        overflow-x: hidden;
        overflow-y: auto;


        .list {
            position: relative;

            .modify-list-title {
                display: inline-block;
            }
            .list-title {
                margin: .5em;
                margin-top: 0;
                margin-left: .3em;
                padding: .3em;
                font-weight: bold;
                text-transform: uppercase;
                background-color: $lightGray;
                border: 0 solid transparent;
                transition: background 300ms ease;

                &:active,
                &:focus {
                    background-color: $milky;
                }
            }
            .delete-list-link {
                position: absolute;
                top: 8%;
                right: 0;
            }

            .delete-list-phrase {
                display: inline-block;
                padding: 1em;
                text-align: center;

                .delete-list,
                .delete-list-no {
                    display: inline-block;
                    margin-top: .5em;
                    padding: .4em .6em;
                    border-radius: .4em;
                    color: $white;
                    transition: all 400ms ease;
                    &:hover {
                        text-decoration: none;
                    }
                }

                .delete-list {
                    margin-right: .7em;
                    background-color: orange;

                    &:hover {
                        background-color: darken(orange, 2);
                    }
                }
                .delete-list-no {
                    background-color: $green;

                    &:hover {
                        background-color: darken($green, 2);
                    }
                }

            }

        }


        .cards {
            height: 80%;
            z-index: 0;
            overflow-x: visible;
        }

        .card {
            margin-bottom: .5em;
            max-width: 100%;
            // border: 2px solid;
            border-radius: .4em;
            background-color: #fff;
            // white-space: normal;


            h5 {
                position: relative;
                margin-top: 0;
                padding: .8em;
                font-size: 1em;
                font-weight: bold;
                border-top-left-radius: .4em;
                border-top-right-radius: .4em;
                background-color: darken(#fdfdfd, 2);

                .card-links {
                    position: absolute;
                    right: .4em;

                    a {
                        margin-left: .5em;
                        color: lighten(gray, 4);

                        &:hover,
                        &:active {
                            color: darken(gray, 2);
                        }
                    }
                }
            }

            .card-desc,
            .card-price,
            .card-responsible {

                padding: 0 .8em;
                word-break: keep-all;
                word-wrap: break-word;
            }
            .card-desc,
            .card-price {
                display: block;
            }
            .card-responsible {
                display: inline-block;
                margin-bottom: .4em;
            }

            i.fa-exclamation-triangle {
                color: orange;
            }
            i.fa-check-circle {
                color: $lightGreen;
            }


        }

        .add-new-card {
            //background-color: violet;
        }
        .add-card-form {
            padding: 1em;
            border-radius: .4em;
            background-color: #fff;

            input[type=text],
            input[type=number],
            select,
            textarea {
                margin-bottom: .3em;
                padding: .4em;
                width: 100%;
                border: 1px solid #f0f0f0;
                border-radius: .4em;
                background-color: #fff;
            }

            .add-new-nums {
                display: inline-block;
                width: 48%;

                &:first-of-type {
                    margin-right: 4%;
                }
            }

            input[type=submit],
            input[type=reset] {
                display: inline-block;
                margin-top: .5em;
                padding: .3em;
                width: 48%;
                border: 0;
                border-radius: .4em;
            }

            input[type=submit] {
                margin-right: 4%;
                background-color: green;
            }

            input[type=reset] {
                background-color: red;
            }
        }

        .add-card-btn {
            margin-top: .5em;
            padding: .7em;
            width: 100%;
            border-radius: .4em;
            background-color: $green;
            color: $white;
            border: 1px solid $green;
            border-radius: .4em;
            transition: all 500ms ease;
            &:hover {
                background-color: darken($green, 2);
            }
        }
    }

    #add-new-list {
        // par rapport au .event-list:last-child
        // position: absolute;
        display: inline-block;
        #add-list-btn {
            padding: .8em;
            background-color: $lightGray;
            border: 0;
            border-radius: .4em;
        }

    }

    .modify-card {
        cursor: default;
        font-weight: normal;



        .modify-card-container {
            position: absolute;
            top: 2em;
            right: 0;
            display: inline-block;
            padding: 1em;
            width: 300px;
            border-radius: .4em;
            background-color: $greenBlue;
            color: black;
            transition: all 600ms ease;
            z-index: 9999 !important;
            overflow-x: visible !important;

            &:before {
                position: absolute;
                top: -.6em;
                right: 1em;
                content: '';
                width: 2em;
                height: 1.5em;
                background-color: $greenBlue;
                // transform: skewX(50deg);
                transform: rotate(45deg);
                z-index: -1;
            }

            .close-modify-card {
                position: absolute;
                top: .3em;
                right: .5em;
                font-size: 1.8em;
                font-weight: normal;
                cursor: pointer;
                transform: rotate(45deg);
            }

            .modify-card-title {
                display: inline-block;
                margin-bottom: .5em;
                font-size: 1em;
                font-weight: bold;
            }

            input[type=text],
            input[type=number],
            select,
            textarea {
                margin-bottom: .3em;
                padding: .4em;
                width: 100%;
                border: 1px solid #f0f0f0;
                border-radius: .4em;
                background-color: #fff;

                &:focus,
                &:blur {
                    color: black;
                }
            }

            input[type=submit],
            input[type=reset] {
                display: inline-block;
                margin-top: .5em;
                padding: .3em;
                width: 48%;
                border: 0;
                border-radius: .4em;

                background-color: $green;
                color: $white;
            }

            .add-new-nums {
                display: inline-block;
                width: 48%;

                &:first-of-type {
                    margin-right: 4%;
                }
            }
        }

    }

}

div#event-comments {
    padding: 3em;

    h2 {
        margin-left: 4em;
        font-size: 2em;
        font-family: $crazyFont;
    }

    #form-comment {
        margin-bottom: 1em;
        margin-left: 8em;
        width: 50%;
        // text-align: center;

        textarea {
            margin-bottom: 1em;
            padding: 1em;
            width: 100%;
            border: 1px solid #f0f0f0;
            border-radius: .4em;
        }
        input[type=submit] {
            display: inline-block;
            // margin: 0 auto;
            background-color: $green;
            color: $white;
            border: 0;
            border-radius: .4em;
            padding: .5em 1em;
        }

    }

    .event-comment {
        position: relative;
        margin-bottom: .5em;

        .comment-user {
            display: inline-block;
            text-align: center;
            min-height: 30%;

            .comment-avatar {
                display: block;
                width: 5em;
                height: 5em;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .comment-content {
            display: inline-block;
            margin: 1.5em;
            margin-left: 3em;
            z-index: 0;

            .comment-date {
                display: block;
                padding-top: 1em;
                padding-left: 2em;
                color: gray;
                font-size: .85em;
            }
            .comment-msg {
                position: relative;
                display: block;
                padding: 2em;

                word-break: normal;
                background-color: $milky;

                &:before {
                    position: absolute;
                    top: 25%;
                    left: -.9em;
                    content: '';
                    width: 2.5em;
                    height: 2em;
                    background-color: $milky;
                    transform: rotate(45deg);
                }

                .comment-delete {
                    position: absolute;
                    top: .5em;
                    right: .5em;
                }
            }

        }

    }
}

.delete-list-link i,
.delete-card i,
.modify-card i {
    color: $gray;
    transition: all 400ms ease;

    &:hover {
        color: darken($gray, 2)
    }
}

.ui-widget-content {
    border-color: #fff;
    border-bottom-color: $lightGray;
}

.sign-drag-line {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    color: gray;
}
/*************************************
     redirection evnmt privé erreur
*************************************/

.get-out {
      margin-top: 6em;
        .private-zone{
            height: 70vh;
            font-weight: bold;
            text-align: center;
            font-size: 1.2em;
        }
}
