div.event-wrapper {
    display: table;
    width: 100%;
    height: 100%;

    #event-particip,
    #event-main,
    #event-newsfeed {
        display: table-cell;
        height: 100%;
        word-break: break-all;
    }

    #event-particip {
        width: 20%;
        background-color: $lightGray;
    }
    #event-main {
        width: 75%;
        // background-color: red;
    }

    #event-newsfeed {
        // background-color: black;
    }
}

section#event-lists {
    div.event-list {
        display: inline-block;
        margin-right: .3em;
        padding: 1em;
        min-width: 12em;
        vertical-align: top;
        background-color: #d0d0d0;
    }
}

section#event-comments {
    background-color: gray;
}
