/*****************************
* style de home logged
************************/
.index-event{
	position: relative;
	height: 30em;
	vertical-align: top;
	padding: 3em;
	margin: 1em 0;
	background-color: #ecf0f1;
	background-size: cover;

	border-radius: 80px 0px 80px 0px;
	-moz-border-radius: 80px 0px 80px 0px;
	-webkit-border-radius: 80px 0px 80px 0px;
	border: 0px solid #00d6b8;
	overflow: hidden;


}

.index-event-content {
	position: absolute;
}
