/*****************************
* style de home logged
************************/

.index-title {
	margin-top: 2em;
	margin-bottom: .7em;
	font-size: 2.5em;
	text-align: center;
	font-family: $crazyFont;
}

.multiple-event{
	position: relative;
	padding: 1em;
	height: 20em;
	vertical-align: top;
	background-color: #ecf0f1;
	background-size: cover;
	overflow: hidden;

	.multiple-event-category {
		display: inline-block;
		padding: .3em .4em;
		text-align: left;
		background-color: $veryLightGreen;
		border: 0;
		border-radius: .1em;
	}
}


.multiple-event-title {
	margin-bottom: 2em;
	text-align: center;

	a {
		display: inline-block;
		color: $white;
		font-size: .75em;
		font-weight: bold;

	}
}

.multiple-event-content {

	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgba(255,255,255,.75);
	height: 20em;
	width: 100%;
	left: 0;
	top: auto;
	bottom: 0;
	padding: 2em;
	color: black;
	
	@media only screen and (min-width: 760px) {
		transition: transform 0.35s;
		transform: translate3d(0,100%,0);
	}


	&:hover {
		color: black;
		text-decoration: none;
	}

}

.multiple-event:hover .multiple-event-content{
	transform: translate3d(0,0%,0);
}

.multiple-event-date {
	i,
	span{
		display: inline-block;
		margin-top: 4%;
		margin-right: 4%;
		vertical-align: top;
	}
	i {
		width: 3%;
	}
	span {
		width: 85%;
	}
}

.multiple-event-category {
	text-align: center;
}

.index-create-event {
	display: inline-block;
	padding: 4em;
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;
	background-color: $veryLightGreen;
	color: $sherpaBlue;
	transition: all 600ms ease;

	&:hover,
	&:active {
		text-decoration: none;
		background-color: darken($veryLightGreen, 3);
	}
}
