.navbar {
    margin-bottom: 0;
    background-color: $greenBlue;
    background-color: $sherpaBlue;
    background-color: $green;
    border: 0;
    border-radius: 0;
    a {
        color: #fff !important;
    }

    .nav .open>a,
    .nav .open>a:focus,
    .nav .open>a:hover {
        background-color: lighten($green, 5);
    }

    .nav>li>a:focus,
    .nav>li>a:hover {
        background-color: lighten($green, 5);
    }

    .navbar-form {
        margin-right: 0;
        margin-left: 0;
        // padding: 0;
    }

    .dropdown-menu>li>a:focus,
    .dropdown-menu>li>a:hover {
        background-color: darken($green, 4);
    }

    .icon-bar {
        background-color: #fff;
    }

    .navbar-brand {
        position: relative;
        padding-left: 3em;
        img {
            position: absolute;
            top: -.1em;
            left: 1.5em;
        }
    }
    .show-account {
        background-color: lighten($green, 3);

        .show-account-link {
            display: inline-block;
            padding: .55em 5em;
            width: 100%;
            position: relative;
            vertical-align: middle;

            &:hover,
            &:active,
            &:focus {
                background-color: lighten($green, 5);
            }
        }

        .navbar-avatar {
            position: relative;
            height: 2em;
            width: 2em;
            border-radius:2em;
            object-fit: cover;

        }

        .dropdown-menu {
            background-color: lighten($green, 3);
        }
    }
    .notification-body{
        border: black 1px solid;
    }
    .unread{
        background-color: #f8ffa3 !important;
        color: black !important;
    }
    .read{
        background-color: white !important;
        color: black !important;
    }
    hr.sep-notification{
        margin: 0;
    }
}
