
$fontFam: 'Roboto';

$sliderHeight: 75vh;

$white: #fff;

$brightYellow: #EFFF2F;
$darkYellow: #D3E12D;
$milky: #F6FFF7;

$veryLightGreen: #dcffdd;
$lightGreen: #00d6b8;
$green: #2199a3;
$greenBlue: #3DCBC5;

$lightGray: #f1f4f9;

$sherpaBlue: #115058;

$red : red;


