/************ Définition des variables ****************************************/

$fontFam : 'BenchNine', sans-serif;
$fontSize : 26px;
$fontColor : wheat;

$footerColorNoConnect : grey;

/************************************************************/

* {	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
.hidden {
    display: none !important;
}

.visible {
    display: inline-block !important;
}

#add-list {
    padding: 2em;
    background-color:yellow;
}

/*************************
******* Slider ************
**************************/
.slider {
	overflow: hidden;
	max-height: 100em;
	min-width: 100%;
	border: outset 1em wheat;
}
.img-slide {
	max-height: 80em;
	min-width: 100%;
}
.titleIntro {
color: $fontColor;
font-family: $fontFam;
font-size: $fontSize;
}	
.textIntro {
color: $fontColor;
font-family: $fontFam;
font-size: $fontSize;
}

.btn-default{
 border-radius: 10px 10px 53px 52px;
-moz-border-radius: 10px 10px 53px 52px;
-webkit-border-radius: 10px 10px 53px 52px;
border: 0px solid #000000;
}


/***********************
********** Footer  ****
************************/
footer {
	padding: 3em;
	width: 100%;
	background-color: $footerColorNoConnect;
	bottom: 0;
}
.center{ 
	text-align: center;
}
#team .img-circle {
	height: 6em;
	width: 6em;	
	margin-left: 1.31em;
	border: double black;			
}
#social-network {
	text-align: center;
	color: white;		
}
.icons-social i{
 	margin-left: 0.2em;
}
#local {
	text-align: center;
	color: white;
}
#copy{
	color: white;
	font-size: 1.7em;
}

/********
** Login
*****/
.form-inline {
	text-align: center;
	color: $fontColor;
	font-family: $fontFam;
	font-size: $fontSize;
	padding-top: 1em;
	padding-bottom: 1em;	
}
#form-login.form-group{
	background-color: grey;
	padding: 4em;
	border-radius: 40px 40px 40px 40px;
-moz-border-radius: 40px 40px 40px 40px;
-webkit-border-radius: 40px 40px 40px 40px;
border: 0px solid #000000;
}	

	
