@import '_variables.scss';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $fontFam;
	white-space: normal;
	word-break: normal;
}

body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
	font-size: 16px;

	#main-section {
		flex: 1;
	}
}

.hidden {
	display: none !important;
}
.visible {
	display: inline-block !important;
}




@import '_notConnected.scss';
@import '_navbarConnected.scss';
@import '_indexConnected.scss';
@import '_create.scss';
@import '_event.scss';
@import '_faq.scss';
@import '_contact.scss';
@import '_updateUser.scss';
@import '_invite.scss';
@import '_admin.scss';


/***********************
********** Footer  ****
************************/

footer {
	padding-top: 2em;
	width: 100%;
	background-color: $green;
	text-align: left;

	.nc-footer-title {
		margin-bottom: 1em;
		text-transform: uppercase;
		font-size: 1em;
		a {
			color: #fff;
		}
	}
	.nc-footer-social {
		.fa-facebook-official {
			color: #3b5999;
		}
		.fa-instagram {
			color: #3f729b;
		}
		.fa-pinterest-p {
			color: #bd081c;
		}
		.fa-snapchat-square {
			color: #FFFC00;
		}
		.fa-github {
			color: #131418;
		}
		.fa-twitter {
			color: #2980b9;
		}
	}

	.nc-footer-team {
		.nc-footer-team-img {
			display: inline-block;
			height: 2.3em;
			width: 2.3em;
			border-radius: 50%;
		}
		a:hover,
		a:focus {
			text-decoration: none;
		}
	}

	.nc-footer-social,
	.nc-footer-contact,
	.nc-footer-team {
		margin-left: 2.5em;
	}

	.footer-copy {
		margin-top: 2em;
		margin-bottom: 0;
		padding: 2em;
		text-align: center;
		background-color: darken($green, 2);
		color: #fff;
		font-size: 1em;
	}
}

/************************
  LEMONADE BACKGROUND
*************************/

.lemonade-bg {
	padding: 2em;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	background-size: cover;

	.lemonade-bg-container {
		margin: auto;
		padding: 2em;
		width: 90%;
		border: 1px solid #fff;
		border-radius: .4em;
		background-color: rgba(250, 250, 250, .75);
		@media only screen and (min-width: 760px) {
			width: 70%;
		}

		@media only screen and (min-width: 960px) {
			width: 60%;
		}
		h1 {
			font-size: 1.7em;

		}

		h1 + p {
			text-align: center;
		}
	}
}


@media only screen and (min-width: 760px) {
	// .alert {
	// 	margin: 0 auto;
	// 	margin-bottom: 2em;
	// 	width: 80%;
	// }
}

/***********************
** Login
*******************************/
#form-login {
	margin: 0 auto;
	width: 80%;
	@media only screen and (min-width: 960px) {
		width: 60%;
	}
}


/**************************
*** Contact
********************************/

#contact {
	.two-inputs-aside {
		width: 100%;


		@media only screen and (min-width: 760px) {
			display:inline-block;
			width: 48%;


		}
	}
	.beckille {
		margin-right: 3%;
	}
}

/****************************
**** Form REGISTER
***********************************/

#createUser{
	margin: 0 auto;
	width: 80%;
	color: black;
	@media only screen and (min-width: 960px) {
		width: 60%;
	}

	.register-label{
		min-width: 10em;
		text-align: left;
	}

	input[type=submit] {
		padding: .8em 3em;
		border: 0;
		border-radius: .4em;
		background-color: $sherpaBlue;
		color: #fff;
		&:hover {
			background-color: lighten($sherpaBlue, 2);
		}
	}
}





/*************************
**** TOOLTIP
*******************************/
.tooltip {
	 display:none;
	 position:absolute;
	 border:1px solid #333;
	 background-color:#161616 ;
	 border-radius:5px;
	 padding:10px;
	 color:blue;
	 font-size:12px Arial;
}


/*************************
**** SEARCH
*******************************/

.search-title {
	margin-left: 1em;
	margin-top: 2em;
	margin-bottom: 1em;
}

.search-title + p {
	margin-top: 0;
	margin-left: 2em;
}

.search-title ~ img {
	max-width: 100%;
}
